.container-custom{
    padding-bottom: 60px;
}

.search-input{
    margin-top: 36px;
    width: 65%;
}

.search-input input{
    border-color: #428BCA;
}

.input-text{
    width: inherit !important;
    margin-right:10px;
}

.blog-main{
    padding-right: inherit;
}

/*Content*/
.blog-post .panel-title{
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

.blog-post .panel-body-custom{
    padding: 0;
}

.list-group-item.list-group-item-custom{
    font-weight: bold;
    font-size: 100%;
}

.list-group-item.list-group-item-custom a{
    color: #3c4bf0;
}

.list-group-item.list-group-item-custom > span{
    float: right;
    font-size:12px;
}

.sidebar-module{
    border: 1px solid #428BCA;
    border-top: 3px solid #428BCA;
    padding:10px 19px;
    border-radius:4px;
}

.sidebar-module.sidebar-social,
.sidebar-module.sidebar-now-playing{
    margin-top: 20px;
}

.sidebar-module .label-info-custom{
    font-size: 100%;
    line-height: 3;
    font-weight: 900;
}

.list-group-item.glyphicon.glyphicon-music.glyphicon-blue{
    color: #357EBD;
}

.list-group-item.glyphicon.glyphicon-music.glyphicon-blue > span{
    color:#3c4bf0;
}
/*`*/
/*Content*/